/* search css style */

div.sidebar .search {
    display: flex;
    margin: 30px 0 50px 0;
}

div.sidebar .search input {
    outline: none;
    background-color: aliceblue;
    border: none;
    padding: 10px;
    width: 100%;
}

div.sidebar .search button {
    padding: 10px;
    background-color: #1750B1;
    border: none;
    outline: none;
    color: white;
    width: 55px;
    transition: 0.5s ease;
}

div.sidebar .search button:hover {
    background-color: var(--color-yallow)
}

/* category css style*/


div.sidebar h4.header {
    color: #3e3e3e;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

div.sidebar .category ul {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    list-style: none;
    padding: 0;
}

div.sidebar .category ul li {
    border-bottom: 1px solid #eee;
}

div.sidebar .category ul li a {
    display: block;
    padding: 0 20px;
    color: var(--text-color);
    height: 54px;
    line-height: 54px;
    transition: 0.4s ease;
}

div.sidebar .category ul li a:hover {
    color: var(--color-yallow);
}

/* post css style */

div.recent-post .post-item {
    display: flex;
    /* align-items: center; */
}

div.recent-post .post-item .img {
    width: 120px;
    height: 85px;
}

div.recent-post .post-item .content {
    padding-left: 25px;
}

div.recent-post .post-item .content h4 a {
    font-size: 16px;
    color: #646464;
    transition: 0.3s ease;
}

div.recent-post .post-item .content h4 a:hover {
    color: var(--color-yallow);
}

div.recent-post .post-item .content p {
    font-size: 14px;
    color: #646464;
}

/* tag css style */

div.tag ul li {
    display: inline-block;
    margin: 0 5px 10px;
}

div.tag ul li a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 13px;
    background-color: #f9f9f9;
    color: var(--text-color);
    transition: 0.3s ease;
}

div.tag ul li a:hover {
    background-color: var(--color-yallow);
    color: white;
}