/* buttons common css style */

.button {
    padding: 0 40px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    background-color: var(--bg-white);
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

/* white and blue button */

.white.button:hover,
.blue.button:hover {
    color: var(--color-white);
    background-color: var(--color-yallow);
}

/* blue button css style */

.blue.button {
    background-color: var(--bg-color-4);
    color: var(--color-white);
}

/* wallet button css style */

.wallet.button {
    background-color: transparent;
    border: 1px solid #1750b0;
    color: #1750b0;
}

.wallet.button:hover {
    background-color: #1750b0;
    color: white;
}

/* submit button css style */

.submit.button {
    background-color: #1750b0;
    color: white;
    border: 1px solid #1750b0;
    outline: none;
}

.submit.button:hover {
    background-color: white;
    color: var(--text-color);
}

/* responsive css style */

@media only screen and (max-width:768px) {
    .button {
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        font-size: 14px;
    }
}